*~
*.a
*.core
*.lo
*.la
*.o
*.so

src/dpdk/x86_64-native-linuxapp-gcc
lib/libunsod.mri
src/bin/echo++/echo++
src/bin/multitool/multitool
src/lib/libdpdk_helper/build/.dpdk_helper.o.cmd
src/lib/libdpdk_helper/build/.dpdk_helper.o.d
src/lib/libdpdk_helper/build/.libdpdk_helper.a.cmd
src/lib/libdpdk_helper/build/_postbuild
src/lib/libdpdk_helper/build/_postinstall
src/lib/libev/.libs/libev.lai
src/lib/libuinet/bus_if.c
src/lib/libuinet/cryptodev_if.c
src/lib/libuinet/cryptodev_if.h
src/lib/libuinet/device_if.c

app/echo/unsod_echo
app/echo/unsod_echo_udp

